{
  "extends": "airbnb",
  "rules": {
    "max-len": [2, 120],
    "func-names": "off",
    "indent": [2, 4],
    "nonblock-statement-body-position": "off",
    "curly": 0,
    "consistent-return": 0
  }
}